.top{
  width: 100%;
  height: 30vh;
  min-height: max-content;
  background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-2381.jpg?w=1060&t=st=1684181694~exp=1684182294~hmac=23f79eec14e28a217189f5afbb69a2fe6de542c40187520d3a748faf29cceaa6);
  background-repeat: no-repeat;
  background-size: cover;
}
.center{
  width: 100%;
  height: 65vh;
  background-color: rgb(115, 177, 177);
}
.upper{
display: flex;
border: 1px solid brown;
align-items: center;
height: 40vh;
}
.lower{
border: 1px solid greenyellow;
height: 25vh;
}
.bottom{
  width: 100%;
  height: 5vh;
  background-color: rgb(115, 177, 177);
}
.left{
  min-height: 100%;
  float: left;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  display: flex;
  /*border: 1px solid red;*/
}
.right{
  height: 100%;
  float: right;
  padding: 5px;
  display: flex;
  align-items: right;
  justify-content: right;
  /*border: 1px solid red;*/
}
.top-dark-mode{
  background-image: url(https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
}
.dark-mode{
  background-color:#424239;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*searxh text*/
/*.txtSearch{
  border-radius: 10px;
}
form.form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.form button:hover {
  background: #0b7dda;
}

form.form::after {
  content: "";
  clear: both;
  display: table;
}*/
.main-body{
display: flex;
}
.main-body-left{
width: 60%;
}
.main-body-right{
width: 40%;
background-color: rgb(115, 177, 177);
}
.right-body-dark{
  background-color: #424239;
}
.button-dark-mode{
box-shadow: 2px 2px 5px #fffefe;
background-color:#424239;
color: antiquewhite;
}
.add-button{
border: none;
border-radius: 40px;
font-size: 60px;
height: 10vh;
width: 10vh; 
background-color: #979494;
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 2vh;
margin-left: 5vh;
/*margin-top:10%;*/
cursor: pointer;
box-shadow: 2px 2px 5px #424239;
transition: width 0.15s,height 0.15s;
}
.add-button:hover{
width: 11vh;
height: 11vh;
border-radius: 45px;
padding-bottom: 2vh;
}
.add-button-click{
margin-left: 20%;
margin-top: 10%;
}
.newDiv{
width: 25vh;
height: 30vh;
display: flex;
align-items: center;
margin: 10px 5px 10px 10px;
border-radius: 10px;
border-style: none;
background-color: #bdc3c7;
box-shadow: 2px 2px 5px #424239;
transition: width 0.15s, height 0.15s;
}
.newDiv:hover{
width: 26vh;
height: 32vh;
}
.close{
/* margin-left: 90px; /*12vh*/
/*margin-bottom: 180px; /*24v*/
margin: 0vh 0vh 24vh 12.5vh;
width: 4vh;
height: 4vh;
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 1vh;
font-size: 20px;
border-radius: 15px;
border-style: none;
background-color: transparent;
}
.close-img{
width: 4vh;
height: 4vh;
}
.newDiv:hover .close-img{
width: 5vh;
height: 5vh;
}
.con{
display: flex;
align-items: center;
justify-content: center;
/*border: 1px solid black;*/
height: 40vh;
}
.lower{
display: flex;
}
.lower-inner{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid red;
margin: 15px;
width: 25vh;
height: 20vh;
}
